.authForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.authError {
 display: block;
 color: red;
 padding: 1em;
}

.success {
  display: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px ivory inset;
}


#actionButton {
  border-radius: 3px;
}