nav {
  background:orange;
  height:2em;
  line-height:2em;
  width: 100%;
 
  ul {
      display:flex;
      flex-direction:row;
      justify-content: space-around;
      
      li {
          padding: 0 .5em 0 1em;
          position: relative;
          min-width: 100px;
          font-size: 1.2em;
          margin-right: 1.6em;
      
          &:active {
            background: green;
          }
      }
      
      li:hover {
         background: ivory;
         a {
             color: #000;
         }
      }

      
  }
  
  a {
      text-decoration:none;
      color: ivory;
      
      &:after {
          bottom:0;
          content:"";
          left:0;
          position:absolute;
          right:0;
          top:0;
      }
  }
}